﻿@{ var userType = Session["userType"]!=null? Session["userType"]:"";} @* pasiimam session reikšmę*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nekilnojamas turtas</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Request.IsAuthenticated && userType.Equals("Klientas"))
                {
                    @Html.ActionLink("NT valdymo sistema", "Subsystem", "Declaration", new { area = "" }, new { @class = "navbar-brand" })
                }
                else if (!Request.IsAuthenticated)
                {
                    @Html.ActionLink("NT valdymo sistema", "Login", "Login", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated && userType.Equals("Klientas"))
                    {
                        <li>@Html.ActionLink("Pateikti NT vertinimui", "ClFillingForm", "ClValuation")</li>
                        <li>@Html.ActionLink("Peržiūrėti NT įvertinimus", "ClReviews", "ClValuation")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right ">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Prisijungęs: " + @Session["userName"], "ClientMain", "ClValuation")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Prisijungti", "Login", "Login")</li>
                        <li>@Html.ActionLink("Registruotis", "Registration", "Login")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NT valdymo sistema</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
