﻿@model NT_Valdymo_Sistema.Models.Review

@{
    ViewBag.Title = "NT vertinimas";
    Layout = "~/Views/Shared/_Layout-SpValuation.cshtml";

    var userType = Session["userType"];
    var house = ViewBag.house;
}

<h2>@ViewBag.Title</h2>

@if (Request.IsAuthenticated && string.Equals(userType, "Specialistas"))
{
    if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
    {
        if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                <strong>Pavyko! </strong>@ViewBag.Message
            </div>
        }
    }

    else
    {

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.LabelFor(model => model.ReviewID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReviewID, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.HiddenFor(model => model.ReviewID, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.HiddenFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RequestDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.HiddenFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            @if(ViewBag.reviewAddres != null) { 
                <div class="form-group">
                   @Html.Label("Adresas", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.reviewAddres, @disabled = "disabled" } })
                    </div>
                </div>
            }
            @if (house != null)
            {
                <div class="form-group">
                    @Html.Label("Namo plotas(kv/m)", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control", @Value = house.HouseArea, @disabled = "disabled" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Kambarių skaičius", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control", @Value = house.RoomNr, @disabled = "disabled" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Sklypo plotas(kv/m)", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control", @Value = house.PlotArea, @disabled = "disabled" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Aukštų skaičius", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control", @Value = house.FloorNr, @disabled = "disabled" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Metai", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control", @Value = house.YearBuilt, @disabled = "disabled" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Tipas", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control", @Value = house.BuildingType, @disabled = "disabled" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Įrengimas", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control", @Value = house.HouseEquipment, @disabled = "disabled" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Šildymo tipas", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control", @Value = house.HeatingType, @disabled = "disabled" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Papildoma informacija", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control", @Value = house.AdditonalInfo, @disabled = "disabled" } })
                    </div>
                </div>

            }



            <div class="form-group">
                @Html.LabelFor(model => model.Sum, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Sum, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sum, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReviewText, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReviewText, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReviewText, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.HiddenFor(model => model.FKDeclarationID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.SendToEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.ClientID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.HiddenFor(model => model.REType, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Pateikti įvertinimą" class="btn btn-default" />
                </div>
            </div>
        </div>
        }
    }

    <div>
        @Html.ActionLink("Grįžti atgal", "SpRequestAndReview")
    </div>
}

else
{
    <h1>Deja, Jums čia negalima</h1>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
