﻿

@{
    ViewBag.Title = "Vartotojų sąrašas";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var users = ViewBag.users;
    var viewOrEdit = ViewBag.viewOrEdit;
}

@{ var userType = Session["userType"];} @* pasiimam session reikšmę*@
@if (Request.IsAuthenticated && string.Equals(userType, "Administratorius"))
{
    <h2>@ViewBag.Title</h2>
    using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Vartotojo ID")
                </th>
                <th>
                    @Html.DisplayName("Vardas")
                </th>
                <th>
                    @Html.DisplayName("Pavardė")
                </th>
                <th>
                    @Html.DisplayName("Vartotojo lygis")
                </th>
                <th></th>
            </tr>
            <div class="form-group">
                @if (users != null)
                {
                    for (var index = 0; index < users.Count; index++)
                    {
                        <tr>
                            <td>@users[index].UserID</td>
                            <td>@users[index].Name</td>
                            <td>
                                @users[index].Surname
                            </td>
                            @if (viewOrEdit != null)
                            {
                                if (viewOrEdit == 2)
                                {
                                    <td><div contenteditable>@users[index].UserType</div></td>
                                }
                                else
                                {
                                    <td>@users[index].UserType</td>
                                }
                            }
                            else
                            {
                                <td>@users[index].UserType</td>
                            }
                            <td>
                                @*Html.ActionLink("Detaliau", "DetailedInfo", new { id = item.DeclarationID })*@
                                @Html.ActionLink("Detaliau", "DetailedUserInformation", new { id = users[index].UserID })
                            </td>
                        </tr>
                    }
                }
            </div>
        </table>
        @if (viewOrEdit != null)
        {
            if (viewOrEdit == 2)
            {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="išsaugoti pakeitimus" class="btn btn-default" />
            </div>
        </div>
            }
            else
            {
                @Html.ActionLink("Įjungti redagavimą", "UsersList/2")
                <br>
            }
        }
        else
        {

            @Html.ActionLink("Įjungti redagavimą", "UsersList/2")
            <br>
        }
    </div>
    }

<div>
    @Html.ActionLink("Grįžti atgal", "MainAdministrator")
</div>
}
else
{
    <h1>Deja, jums čia negalima</h1>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
