﻿@{
    ViewBag.Title = "Pasirinkite veiksmą";
    Layout = "~/Views/Shared/_Layout-Ad.cshtml";
}
@{ var userType = Session["userType"];}
@if (Request.IsAuthenticated && string.Equals(userType, "Klientas"))
{
    <h2 style="text-align:center">@ViewBag.Title</h2>

    <div class="subsystem-group">
        <div class="col-md-offset-4 col-md-15">
            <br>  <a href="" class="btn btn-default" style="height:140px; width:400px; line-height:120px;font-size:25px;background-color:cornflowerblue;color:antiquewhite">Butas</a>
            <br>  <a href="http://localhost:50593/AdSubsystem/Advertisement" class="btn btn-default" style="height:140px; width:400px; line-height:120px;font-size:25px;background-color:cornflowerblue;color:antiquewhite">Namas,sodyba,sodo namas</a>
            <br> <a href="" class="btn btn-default" style="height:140px; width:400px; line-height:120px;font-size:25px;background-color:cornflowerblue;color:antiquewhite">Garažas</a>
            <br> <a href="" class="btn btn-default" style="height:140px; width:400px; line-height:120px;font-size:25px;background-color:cornflowerblue;color:antiquewhite">Sklypas</a>

        </div>

    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <h1> Skirta tik registruotiems klientams!</h1>
}