﻿@model NT_Valdymo_Sistema.Models.Advertisement

@{
    double m = 0;
    String path = Model.ImagePath == null ? "" : Model.ImagePath;
    Layout = "~/Views/Shared/_Layout-Ad.cshtml";
    string x = Model.Rent == 1 ? "Nuomojamo" : "Parduodamo";
    ViewBag.Title = x + " namo skelbimas";
    m = Model.Price > 0 && Model.House.HouseArea > 0 ? (double)(Model.Price / Model.House.HouseArea) : 0;
    int xx = (int)Model.UserID;
}
@{ var userType = Session["userType"]; }
  
@if (Request.IsAuthenticated && string.Equals(userType, "Klientas"))
{
<dd>
    <img src="@Url.Content(path)" width="250" height="250" />
</dd>
<h2>@Html.DisplayFor(model => model.House.Municipality) @Html.DisplayFor(model => model.House.Microdistrict),@Html.DisplayFor(model => model.House.Street)   @Html.DisplayFor(model => model.House.HouseNr) </h2>


<h6>@Html.DisplayFor(model => model.House.FloorNr) aukštai,  @Html.DisplayFor(model => model.House.RoomNr)kamb. </h6>
<h3>@Html.DisplayFor(model => model.Price) eurų (@m  eur/kv.m. )</h3>
<div>




    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.House.Municipality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.Municipality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.House.Microdistrict)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.Microdistrict)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.House.HouseNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.HouseNr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.House.BuildingType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.BuildingType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.House.FloorNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.FloorNr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.House.HeatingType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.HeatingType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House.HouseArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.HouseArea)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.House.HouseEquipment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.HouseEquipment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House.PlotArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.PlotArea)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.House.RoomNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.RoomNr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.House.Settlement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.Settlement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House.YearBuilt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.YearBuilt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.House.AdditonalInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.AdditonalInfo)
        </dd>
        <dt>
            Skelbimas įdėtas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNr)
        </dd>

        <dt>
            Paskutinį kartą atnaujintas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditingDate)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Pažymėti šį skelbimą", "markAd", new { id = Model.AdvertisementID })
    @if (xx == (int)Session["userId"] && Session["userId"] != null)
    {
        <br /> @Html.ActionLink("Redaguoti skelbimą", "Edit", new { id = Model.AdvertisementID }) }
    @if (xx == (int)Session["userId"] && Session["userId"] != null)
    {

        <br /> @Html.ActionLink("Trinti skelbimą", "Delete", new { id = Model.AdvertisementID })
    }<br />
    @Html.ActionLink("Atgal į sąrašą", "AdvertisementList")

</p>
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <h1> Skirta tik registruotiems klientams</h1>
}


