﻿@model NT_Valdymo_Sistema.Models.AdReport
@{
    ViewBag.Title = "Skelbimų ataskaita";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var cities = new List<String>();
    var count = new List<int>();

    cities = ViewBag.cities;
    count = ViewBag.count;
    var all = ViewBag.all;
}

@{ var userType = Session["userType"];} @* pasiimam session reikšmę*@
@if (Request.IsAuthenticated && string.Equals(userType, "Buhalteris"))
{
    <h2>@ViewBag.Title</h2>

     if (ViewBag.Message != null)
     {
        <table class="table">
            <tr>
                <th>
                    Miestas
                </th>
                <th>
                    Kiekis
                </th>
                <th></th>
            </tr>
           @for (int i = 0; i < cities.Count(); i++)
           {
            <tr>
                <td>
                    @Html.Raw(cities[i])
                </td>
                <td>
                    @Html.Raw(count[i])
                </td>
            </tr>
           }
        </table>
        <br />
        <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
                <a href="http://localhost:50593/Report/AdReportWindow" class="btn btn-default" style="background-color:cornflowerblue;">Nauja ataskaita</a>
            </div>
        </div>
        <br />
        <div>
            @Html.ActionLink("Grįžti atgal", "AccountantMainWindow")
        </div>
    }
    else
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.PriceFrom, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PriceFrom, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PriceFrom, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PriceTo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PriceTo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PriceTo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Sudaryti ataskaitą" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Grįžti atgal", "AccountantMainWindow")
        </div>
    }
}
else
{
    <h1>Skirta tik registruotiems buhalteriams!</h1>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
