﻿@model IEnumerable<NT_Valdymo_Sistema.Models.Advertisement>


@{ var userType = Session["userType"];}
@if (Request.IsAuthenticated && string.Equals(userType, "Buhalteris"))
{

    {
        ViewBag.Title = "Skelbimų sąrašas";
        Layout = "~/Views/Shared/_Layout.cshtml";

    }

    <h2>Skelbimų sąrašas</h2>

    <table class="table">
        <tr>
            <th>
                Adresas
            </th>
            <th>
                Kaina
            </th>
            <th>
                Pastato tipas
            </th>
            <th>
                Skelbimas įdėtas
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.House.Street)
                    @Html.DisplayFor(modelItem => item.House.HouseNr)
                    ,
                    @Html.DisplayFor(modelItem => item.House.Municipality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)€
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.House.BuildingType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.ActionLink("Plačiau", "SpecificAdWindow", new { id = item.AdvertisementID })
                </td>
            </tr>

        }
    </table>
    <br />
    <br />
    <div class="form-group">
        <div class="col-md-offset-4 col-md-10">
            <a href="http://localhost:50593/Report/AdFilterWindow" class="btn btn-default" style="background-color:cornflowerblue;">Įrašų filtras</a>
        </div>
    </div>
    <div>
        @Html.ActionLink("Grįžti atgal", "AccountantMainWindow")
    </div>
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <h1> Skirta tik registruotam buhalteriui!</h1>
}
