﻿
@{
    ViewBag.Title = "Pasirinkite veiksmą";
    Layout = "~/Views/Shared/_Layout-CLValuation.cshtml";
}

@{ var userType = Session["userType"];} @* pasiimam session reikšmę*@
@if (Request.IsAuthenticated && string.Equals(userType, "Klientas"))
{
    <h1 style="text-align:center">@ViewBag.Title</h1>

    <div class="subsystem-group">
        <div class="col-md-offset-4 col-md-8">
            <a href="~/ClValuation/ClFillingForm" class="btn btn-default" style="height:140px; width:400px; line-height:120px;font-size:25px;background-color:cornflowerblue;color:antiquewhite">Pateikti NT vertinimui</a>
            <br /><a href="~/ClValuation/ClReviews" class="btn btn-default" style="height:140px; width:400px; line-height:120px;font-size:25px;background-color:cornflowerblue;color:antiquewhite">Peržiūrėti NT įvertinimus</a>
        </div>
    </div>
}
else
{
    <h1>Skirta tik registruotiems klientams!</h1>
}