﻿
@model NT_Valdymo_Sistema.Models.Review
@{
    ViewBag.Title = "Detalus NT įvertinimas";
    Layout = "~/Views/Shared/_Layout-CLValuation.cshtml";
    var userType = Session["userType"];
    var house = ViewBag.house;
    var reviewUserID = ViewBag.reviewUserID;
    var userID = Session["userID"];
}

@if (reviewUserID != null) { 

    if (Request.IsAuthenticated && string.Equals(userType, "Klientas") && (int) userID == (int)reviewUserID)
    {

    <h2>@ViewBag.Title</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Pateikimo data")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RequestDate)
            </dd>
            <dt>
                @Html.DisplayName("Įvertinimo data")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ReviewDate)
            </dd>
            <dt>
                @Html.DisplayName("Įvertinimo būsena")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt>
                @Html.DisplayName("Vertinamas")
            </dt>
            <dd>
                @ViewBag.reviewType
            </dd>
            <dt>
                @Html.DisplayName("Adresas")
            </dt>
            <dd>
                @ViewBag.reviewAddres
            </dd>


            @if (house != null)
            {
                <dt>
                    @Html.DisplayName("Namo plotas(kv/m)")
                </dt>
                <dd>
                    @house.HouseArea
                </dd>
                <dt>
                    @Html.DisplayName("Kambarių skaičius")
                </dt>
                <dd>
                    @house.RoomNr
                </dd>
                <dt>
                    @Html.DisplayName("Sklypo plotas(kv/m)")
                </dt>
                <dd>
                    @house.PlotArea
                </dd>
                <dt>
                    @Html.DisplayName("Aukštų skaičius")
                </dt>
                <dd>
                    @house.FloorNr
                </dd>
                <dt>
                    @Html.DisplayName("Metai")
                </dt>
                <dd>
                    @house.YearBuilt
                </dd>
                <dt>
                    @Html.DisplayName("Tipas")
                </dt>
                <dd>
                    @house.BuildingType
                </dd>
                <dt>
                    @Html.DisplayName("Įrengimas")
                </dt>
                <dd>
                    @house.HouseEquipment
                </dd>
                <dt>
                    @Html.DisplayName("Šildymo tipas")
                </dt>
                <dd>
                    @house.HeatingType
                </dd>
                <dt>
                    @Html.DisplayName("Papildoma informacija")
                </dt>
                <dd>
                    @house.AdditonalInfo
                </dd>
            }



            <dt>
                @Html.DisplayName("Įvertinta suma")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Sum)
            </dd>
            <dt>
                @Html.DisplayName("Įvertinimas")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ReviewText)
            </dd>
        </dl>
    </div>

    <div>
        @Html.ActionLink("Grįžti atgal", "ClReviews")
    </div>

    }

    else
    {
        <h1>Deja, Jums čia negalima</h1>
    }
}


else
{
    <h1>Deja, Jums čia negalima</h1>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

