﻿@{
    ViewBag.Title = "NT įvertinimai";
    Layout = "~/Views/Shared/_Layout-CLValuation.cshtml";

    var reviewsAddresses = ViewBag.reviewsAddress;
    var reviews = ViewBag.reviews;
   // var index = 0;
}

@{ var userType = Session["userType"];}
@if (Request.IsAuthenticated && string.Equals(userType, "Klientas"))
{

<h2>@ViewBag.Title</h2>
<div>
    <h4>NT užklausų bei įvertinimų sąrašas</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Pateikimo data")
            </th>
            <th>
                @Html.DisplayName("Adresas")
            </th>
            <th>
                @Html.DisplayName("Būsena")
            </th>
            <th></th>
        </tr>
        
        @if (reviews != null)
        {
            for (var index = 0; index < reviews.Count; index++)
            {
            <tr>
                <td>@reviews[index].RequestDate</td>
                <td>
                    @reviewsAddresses[index]   
                </td>
                <td>@reviews[index].Status</td>
                <td>
                    @Html.ActionLink("Detaliau", "ClParticularReview", new { id = reviews[index].ReviewID })
                </td>
            </tr>
            }
        }


        </table>
    </div>

    <div>
        @Html.ActionLink("Grįžti atgal", "ClientMain")
    </div>
}
else
{
        <h1>Skirta tik registruotiems klientams!</h1>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
