﻿@model IEnumerable<NT_Valdymo_Sistema.Models.User>

@{ var userType = Session["userType"];} @* pasiimam session reikšmę*@
@if (Request.IsAuthenticated && string.Equals(userType, "Priziuretojas"))
{

    {
        ViewBag.Title = "AccountsDisplay";
    }

    <h2>Klientų paskyrų sąrašas</h2>

    <div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayName("Registracijos data")
                </th>
                <th>
                    @Html.DisplayName("Registracijos būsena")
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationDate)
                    </td>
                    <td>
                        @{ var state1 = Html.DisplayFor(modelItem => item.RegistrationState).ToString();
                            var state2 = "Patvirtinta";
                            if (state1.IsEmpty())
                            {
                                state1 = "Nepatvirtinta";
                                state2 = "Patvirtinta";
                            }
                            else if (state1.Equals("Patvirtinta"))
                            {
                                state2 = "Nepatvirtinta";
                            }

                        }
                        @using (Html.BeginForm())
                    {
                            @Html.Hidden("ID", item.UserID);
                            @Html.AntiForgeryToken()
                            @Html.DropDownList("Busena", new List<SelectListItem>
                    { new SelectListItem { Text = state1, Value = state1, Selected=true},
                                   new SelectListItem { Text = state2, Value = state2}
                                   }, "Pasirinkite būseną", new { onchange = "this.form.submit();" })
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Redaguoti", "Edit", new { id=item.UserID })
                    </td>
                </tr>
                            }

        </table>

    </div>
                            }
                            else
                            {
                                <h1> Skirta tik paskyrų prižiūrėtojui!</h1>
                            }