﻿@{
    ViewBag.Title = "Apie sistemą";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Sistemos kūrėjai:
    <br>
    Vilius Turenko IFF-4/2
    <br>
    Tautvydas Jurgaitis IFF-4/2
    <br>
    Žilvinas Pilstikas IFF-4/2
    <br>
    Jonas Mičiulis IFF-4/2
    <br>
    Deividas Kybartas IFF-4/2.
</p>
