﻿@model IEnumerable<NT_Valdymo_Sistema.Models.Declaration>
@{ var userType = Session["userType"];} @* pasiimam session reikšmę*@
@{ IEnumerable<NT_Valdymo_Sistema.Models.House> houses = ViewBag.Houses;}
@if (Request.IsAuthenticated && string.Equals(userType, "Klientas"))
{
    {
        ViewBag.Title = "DeclarationInfo";
    }

    <h2>Deklaruoto NT informacija</h2>

        <div>
            <h4>Deklaruoto NT sąrašas</h4>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayName("Deklaravimo data")
                    </th>
                    <th>
                        @* @Html.DisplayNameFor(model => houses.First().Street) *@
                        @Html.DisplayName("Adresas")
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeclarationDate)

                        </td>
                        <td>
                            @Html.DisplayName(houses.Where(a => a.HouseID == item.HouseID).First().Microdistrict)
                        </td>
                        <td>
                            @Html.ActionLink("Detaliau", "DetailedInfo", new {  id=item.DeclarationID})
                        </td>
                    </tr>
                }

            </table>

        </div>
        <p>
            @Html.ActionLink("Grįžti", "DeclarationMain", "Declaration")
        </p>
}
else
{
    <h1>Skirta tik registruotiems klientams!</h1>
}
