﻿@{ var userType = Session["userType"];} @* pasiimam session reikšmę*@
@if (Request.IsAuthenticated && string.Equals(userType, "Klientas"))
{

    {
        ViewBag.Title = "Pasirinkite veiksmą";
    }
<h1 style="text-align:center">@ViewBag.Title</h1>

<div class="subsystem-group">
    <div class="col-md-offset-4 col-md-8">
        <a href="~/Declaration/DeclarationType" class="btn btn-default" style="height:140px; width:400px; line-height:120px;font-size:25px;background-color:cornflowerblue;color:antiquewhite">Deklaruoti turtą</a>
        <br /><a href="~/Declaration/DeclarationInfo" class="btn btn-default" style="height:140px; width:400px; line-height:120px;font-size:25px;background-color:cornflowerblue;color:antiquewhite">Deklaruoto NT informacija</a>
    </div>
</div>
}
else
{
    <h1>Skirta tik registruotiems klientams!</h1>
}