﻿@model NT_Valdymo_Sistema.Models.Declaration
@{ var userType = Session["userType"];} @* pasiimam session reikšmę*@
@{  var userID = Session["userID"];}
@if (Request.IsAuthenticated && string.Equals(userType, "Klientas") && string.Equals(userID,Model.UserID))
{

{
    ViewBag.Title = "DetailedInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deklaruoto NT detali informacija</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
 
        <dt>
            @Html.DisplayName("Deklaravimo data")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeclarationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House.Municipality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.Municipality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House.Settlement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.Settlement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House.Microdistrict)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.Microdistrict)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House.HouseNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.HouseNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House.HouseArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.HouseArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House.RoomNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.RoomNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House.PlotArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.PlotArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House.FloorNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.FloorNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House.YearBuilt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.YearBuilt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House.BuildingType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.BuildingType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House.HouseEquipment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.HouseEquipment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House.HeatingType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.HeatingType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House.AdditonalInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.AdditonalInfo)
        </dd>

        <dt>
            @Html.DisplayName("Kaina")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Grįžti į sąrašą", "DeclarationInfo")
</p>
    }
    else
    {
        <h1>Skirta tik registruotiems klientams, negalite žiūrėti kitų NT!</h1>
    }